.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2.6rem;
    height: 5rem;
    border-bottom: 1px solid var(--color-shadow);

    &__nav
    {
        &--active
        {
            color: var(--color-primary) !important;
        }

        &--list
        {
            display: flex;
            align-items: center;
        }

        &--item
        {
            padding: 1rem;
            border-radius: 0.8rem;

            &:hover
            {
                background: var(--color-shadow);

                & > a
                {
                    color: var(--color-primary);
                }
            }
        }

        &--link
        {
            color: var(--color-font);
            font-size: 1.6rem;
            font-weight: 500;
        }
    }

    &__options
    {
        display: flex;
        align-items: center;

        &--icon
        {
            margin-right: 1.4rem;
            fill: var(--color-primary);
            cursor: pointer;
        }

        &--wallet
        {
            padding: .8rem 1rem;
            font-size: 1.3rem;
            cursor: pointer;
            transition: 0.3s;
            font-weight: 600;
            color: #ffffff;
            border-radius: .8rem;
            background: var(--color-primary);

            &:hover
            {
                background: var(--color-secondary);
            }
        }
    }
}
