#Wallet
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000C0;
}

#Wallet > .WalletBox
{
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 3px;
    background: #ffffff ;
    border: 1px solid #00000020;
    transform: translate(-50%,-50%);
}

#Wallet > .WalletBox > .Header
{
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

#Wallet > .WalletBox > .Header > .Title
{
    padding: 8px;
}

#Wallet > .WalletBox > .Header > .Close
{
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
}

#Wallet > .WalletBox > .Header > .Close:hover
{
    background: #f0f0f0;
    color: var(--color-primary);
}

#Wallet > .WalletBox > .Separator
{
    height: 1px;
    background: #00000020;
}

#Wallet > .WalletBox > .Grid
{
    display: grid;
    grid-template-columns: auto auto;
}

#Wallet > .WalletBox > .Grid > .Box
{
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    margin: 16px 32px;
    border-radius: 3px;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

#Wallet > .WalletBox > .Grid > .Box:hover
{
    background: #f0f0f0;
    color: var(--color-primary);
}

#Wallet > .WalletBox > .Address
{
    padding: 8px;
    margin: 16px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #00000020;
}

#Wallet > .WalletBox > .Box
{
    margin: 16px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

#Wallet > .WalletBox > .Box > span
{
    padding: 8px;
    color: #ffffff;
    cursor: pointer;
    flex-basis: 150px;
    border-radius: 3px;
    background: var(--color-primary);
}
