@font-face
{
    font-display: block;
    font-family: "Roboto";
    src: url("../public/font/roboto.woff") format("woff");
}

@font-face
{
    font-display: block;
    font-family: "IranSans";
    src: url("../public/font/iransans.woff") format("woff");
}

:root
{
    --color-secondary: #0371a7;
    --color-primary: #00aaff;
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    vertical-align: baseline;
}

body
{
    font-size: 16px;
    font-family: "Roboto", "IranSans", sans-serif;
}

a
{
    text-decoration: none;
}
