:root
{
    --color-shadow: #00000020;
    --color-secondary: #0371a7;
    --color-primary: #00aaff;
    --color-font: #000000;
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: 'Open Sans', serif;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

.container
{
    max-width: 140rem;
    margin: 0 auto;
}
