.sectionStart
{
    position: relative;
    padding-top: 70rem;
    overflow: hidden;

    &Content
    {
        position: absolute;
        top: 17rem;
        left: 0;

        max-width: 54.5rem;

        & h1
        {
            font-size: 6.4rem;
            line-height: 1;
            letter-spacing: -.02em;
            margin-bottom: 2rem;
            color: var(--color-neutral-gray-7);
        }

        & p
        {
            margin-bottom: 3.2rem;
            font-size: 1.6rem;
            line-height: 1.5;
            color: var(--color-neutral-gray-3);
        }
    }

    &BG
    {
        position: absolute;
        top: -14.5rem;
        right: calc(50% - 75em);
        width: 924px;
        height: 913px;
    }

    &Cards
    {
        padding: 3rem;
        border-radius: 2.4rem;
        background: var(--color-neutral-gray-1);

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
        grid-gap: 3rem;
    }

    &Card
    {
        border-radius: 1.6rem;
        padding: 3.2rem;
        transition: all 0.2s;

        &:hover
        {
            background: var(--color-neutral-gray-2);
        }

        &Details
        {
            margin-top: 1rem;

            &Info
            {
                display: flex;
                align-items: center;

                &SubTitle
                {
                    margin-right: 1.2rem;
                    color: var(--color-neutral-gray-3);
                    font-size: 1.4rem;
                    font-weight: 600;
                    font-family: 'DM Sans', sans-serif;
                }

                &Negative,
                &Positive
                {
                    background: var(--color-primary-orange);
                    color: var(--color-neutral-gray-7);
                    padding: 0.2rem 0.8rem;
                    border-radius: 1.2rem;
                    font-size: 1.2rem;
                    line-height: 1.66667;
                    font-weight: 600;
                }

                &Positive
                {
                    background: var(--color-primary-green);
                }
            }

            &Price
            {
                margin-top: 1rem;
                font-size: 2.4rem;
                color: var(--color-neutral-gray-7);
                font-weight: 600;
            }

            &Money
            {
                font-size: 1.4rem;
                color: var(--color-neutral-gray-7);
                font-weight: 500;
            }
        }
    }
}

.sectionMarket
{
    padding: 12rem 0;

    &Head
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 4rem;

        & h2
        {
            font-size: 4.8rem;
            line-height: 1.16667;
            letter-spacing: -.02em;
            color: var(--color-neutral-gray-7);
        }
    }

    &Sort
    {
        display: flex;
        align-items: center;

        margin-bottom: 6.4rem;

        & button
        {
            padding: 6px 12px;
            border-radius: 1.4rem;
            background: none;
            font-family: 'DM Sans', sans-serif;
            font-size: 1.4rem;
            line-height: 1.14286;
            font-weight: 700;
            transition: all .2s;
            color: var(--color-neutral-gray-3);
            border: none;
            cursor: pointer;

            &:hover,
            &:active
            {
                color: var(--color-neutral-gray-7);
                background: var(--color-neutral-gray-3);
            }
        }

        &Active
        {
            color: var(--color-neutral-gray-7) !important;
            background: var(--color-neutral-gray-3) !important;
        }
    }

    &Table
    {
        display: table;
        width: 100%;

        &Row
        {
            display: table-row;

            &Col
            {
                display: table-cell;
                padding: 2.4rem 1.6rem;

                &Item
                {
                    display: flex;
                    align-items: center;

                    &Icon
                    {
                        flex-shrink: 0;
                        margin-right: 3.2rem;
                    }

                    &Details
                    {
                        &Subtitle
                        {
                            color: var(--color-neutral-gray-7);
                        }

                        &Currency
                        {
                            margin-left: 1.2rem;
                            color: var(--color-neutral-gray-4);
                        }
                    }
                }

                &Price
                {
                    color: var(--color-neutral-gray-7);
                }

                &Positive
                {
                    color: var(--color-primary-green);
                }

                &Negative
                {
                    color: var(--color-primary-orange);
                }
            }

            &:first-child &Col
            {
                font-size: 1.4rem;
                padding: 2.4rem 1.6rem;
                border-bottom: 1px solid var(--color-neutral-gray-2);
                color: var(--color-neutral-gray-3);
            }

            &:not(:first-child) &Col:first-child
            {
                border-radius: 12px 0 0 12px;
                color: #777E90;
            }

            &:not(:first-child) &Col
            {
                vertical-align: middle;
                font-size: 1.6rem;
                line-height: 1.5;
                font-weight: 500;
            }
        }
    }
}

.sectionTrader
{
    padding: 12rem 0;
    background: #18191D;

    & > div
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &Heading
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & h3
        {
            font-size: 4.8rem;
            line-height: 1.16667;
            letter-spacing: -.02em;
            max-width: 50%;
            margin-bottom: 2rem;
            color: var(--color-neutral-gray-7);
        }

        & p
        {
            font-size: 1.6rem;
            line-height: 1.5;
            color: #777E90;
        }
    }

    &Cards
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 3rem;
        margin: 6rem 0;
        width: 100%;

        &Card
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 2rem;

            background: var(--color-neutral-gray-1);
            padding: 5rem 3.2rem;

            &Icon
            {
                margin: 0 auto 3.2rem;
            }

            & h4
            {
                margin-bottom: 1.6rem;
                font-size: 1.6rem;
                line-height: 1.5;
                font-weight: 500;
                color: var(--color-neutral-gray-7);
            }

            & p
            {
                text-align: center;
                margin-bottom: 1.6rem;
                font-size: 1.4rem;
            }
        }
    }
}

.sectionDownload
{
    padding: 12rem 0;
    background: var(--color-neutral-black);
    overflow: hidden;
    height: 90vh;

    position: relative;

    &BG
    {
        position: absolute;
        top: 0;
        right: calc(50% - 75em);
        width: 908px;
        height: 800px;
        max-width: 100%;

    }

    &Content
    {
        position: absolute;
        left: 4rem;
        width: 100%;

        h4
        {
            font-size: 4.8rem;
            line-height: 1.16667;
            letter-spacing: -.02em;
            color: var(--color-neutral-gray-7);
        }

        p
        {
            margin-bottom: 6.4rem;
            font-size: 1.6rem;
            line-height: 1.5;
            color: var(--color-neutral-gray-3);
        }

        &Link
        {
            display: flex;
            align-items: center;
            padding-bottom: 4rem;
            width: 30%;
            margin-top: 4rem;

            &:not(:last-child)
            {
                border-bottom: 1px solid var(--color-neutral-gray-2);
            }

            &Icon
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5.6rem;
                height: 5.6rem;
                margin-right: 2.4rem;
                border-radius: 50%;
                background: var(--color-neutral-gray-1);
            }

            &Details
            {
                &Content
                {
                    color: var(--color-neutral-gray-3);
                    font-size: 1.4rem;
                }

                &Subtitle
                {
                    font-size: 2.4rem;
                    line-height: 1.33333;
                    letter-spacing: -.01em;
                    color: var(--color-neutral-gray-7);
                }
            }
        }
    }
}

.sectionNews
{
    padding: 5rem 0 12rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &Logo
    {
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        font-weight: 600;
        color: var(--color-neutral-gray-6);
        margin-right: 4rem;
        margin-bottom: 2rem;

        & span
        {
            margin-left: 0.8rem;
        }
    }

    & h2
    {
        margin-bottom: 2rem;
        font-size: 4.8rem;
        line-height: 1.16667;
        letter-spacing: -.02em;
        text-align: center;
        color: var(--color-neutral-gray-7);
        width: 40%;
    }

    & p
    {
        font-size: 16px;
        line-height: 1.5;
        color: var(--color-neutral-gray-3);
    }

    &Content
    {
        display: flex;
        flex-direction: row-reverse;

        margin-top: 5rem;
        background: var(--color-neutral-gray-1);
        width: 97.2rem;
        padding: 8rem 9.6rem;
        border-radius: 2.4rem;

        &Icon
        {
            flex: 1;
        }

        &Details
        {
            flex: 0 0 50%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            & span
            {
                font-size: 1.2rem;
                margin-bottom: 1.6rem;
                line-height: 1;
                font-weight: 700;
                text-transform: uppercase;
            }

            & h4
            {
                margin-bottom: 1.6rem;
                font-size: 2.4rem;
                line-height: 1.33333;
                letter-spacing: -.01em;
                color: var(--color-neutral-gray-7);
            }

            & p
            {
                font-size: 1.6rem;
                line-height: 1.5;
                color: var(--color-neutral-gray-3);
            }

            & a
            {
                margin-top: 4rem;
                align-self: start;
            }
        }
    }
}
