
.home
{
    position: relative;
    overflow: hidden;
    padding-top: 70rem;

    &Header
    {
        &Left
        {
            position: absolute;
            top: 17rem;
            left: 0;
            max-width: 54.8rem;

            & h1
            {
                font-size: 6.4rem;
                line-height: 1;
                letter-spacing: -.02em;
                margin-bottom: 2rem;
                color: var(--color-neutral-gray-7)
            }

            & p
            {
                margin-bottom: 3.2rem;
                font-size: 1.6rem;
                line-height: 1.5;
                color: var(--color-neutral-gray-3);
            }
        }

        &Right
        {
            position: absolute;

            top: -14.5rem;
            right: calc(50% - 72.5rem);
        }
    }

    &Cards
    {
        padding: 3rem;
        border-radius: 2.4rem;
        background: var(--color-neutral-gray-1);

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
        grid-gap: 3rem;
    }

    &Card
    {
        border-radius: 1.6rem;
        padding: 3.2rem;
        transition: all 0.2s;

        &:hover
        {
            background: var(--color-neutral-gray-2);
        }

        &Icon
        {
        }

        &Details
        {
            margin-top: 1rem;

            &Info
            {
                display: flex;
                align-items: center;

                &SubTitle
                {
                    margin-right: 1.2rem;
                    color: var(--color-neutral-gray-3);
                    font-size: 1.4rem;
                    font-weight: 600;
                    font-family: 'DM Sans', sans-serif;
                }

                &Negative,
                &Positive
                {
                    background: var(--color-primary-orange);
                    color: var(--color-neutral-gray-7);
                    padding: 0.2rem 0.8rem;
                    border-radius: 1.2rem;
                    font-size: 1.2rem;
                    line-height: 1.66667;
                    font-weight: 600;
                }

                &Positive
                {
                    background: var(--color-primary-green);
                }
            }

            &Price
            {
                margin-top: 1rem;
                font-size: 2.4rem;
                color: var(--color-neutral-gray-7);
                font-weight: 600;
            }

            &Money
            {
                font-size: 1.4rem;
                color: var(--color-neutral-gray-7);
                font-weight: 500;
            }
        }

.sectionStart
{
    position: relative;
    padding-top: 70rem;
    overflow: hidden;

    &Content
    {
        position: absolute;
        top: 17rem;
        left: 0;

        max-width: 54.5rem;

        & h1
        {
            font-size: 6.4rem;
            line-height: 1;
            letter-spacing: -.02em;
            margin-bottom: 2rem;
            color: var(--color-neutral-gray-7);
        }

        & p
        {
            margin-bottom: 3.2rem;
            font-size: 1.6rem;
            line-height: 1.5;
            color: var(--color-neutral-gray-3);
        }
    }

    &BG
    {
        position: absolute;
        top: -14.5rem;
        right: calc(50% - 75em);
        width: 924px;
        height: 913px;

    }
}
